* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FEEDBACK */

.feedback__title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.feedback__title span {
    color: #ff6e65;
}

.feedback__title h1::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: -20px;
    right: 0;
    margin: 0 auto;
}

.feedback__title h1::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: -20px;
    right: -40px;
    margin: 0 auto;
}

.feedback__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 80px;
}

.feedback__item {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 32px;
}

.feedback__item i {
    font-size: 30px;
    color: #ff6e65;
}

.feedback__bottom {
    display: flex;
}

.feedback__item p {
    font-size: 26px;
    color: #707070;
    letter-spacing: 0.4px;
}

.feedback__img img {
    border-radius: 50%;
    margin-right: 10px;
}

.feedback__left h2 {
    font-size: 20px;
    font-weight: 600;
}

.feedback__left p {
    font-size: 15px;
    color: #707070;
    letter-spacing: 0.4px;
}

/* INSTRUCTORS */

.instructors__title h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.instructors__title span {
    color: #ff6e65;
}

.instructors__title h1::before {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -8px;
    left: -20px;
    right: 0;
    margin: 0 auto;
}

.instructors__title h1::after {
    content: "";
    background: #707070;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: -15px;
    left: -20px;
    right: -40px;
    margin: 0 auto;
}

.instructors__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 80px;
    text-align: center;
}

.instructors__item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 20px 62px rgb(4 20 69 / 10%);
    padding: 15px;
    overflow: hidden;

}

.instructors__img img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.instructors__bottom h2 a {
    font-weight: 600;
    color: #060606;
    text-decoration: none;
    transition: 0.3s;
}

.instructors__bottom p {
    color: #707070;
    font-weight: 400;
}

.instructors__item:hover .instructors__bottom h2 a {
    color: #ff6e65;
}

.instructors__overlay {
    background-color: rgba(130, 127, 127, 0.6);
    position: absolute;
    width: 100%;
    bottom: -100px;
    left: 0;
    transition: 0.5s;
    opacity: 1;
    z-index: 1;

}

.instructors__item:hover .instructors__overlay {
    background: rgb(8 8 8 / 29%);
    bottom: 0;
}

.instructors__bottom {
    position: relative;
    z-index: 999;
    background-color: #fff;
}

.instructors__img {
    position: relative;
}

.instructors__overlay a {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    display: inline-block;
    line-height: 35px;
    margin-right: 10px;
}

.instructors__overlay i {
    color: rgb(3, 3, 113);
}

/* CONTACT */
.contact {
    padding-bottom: 300px;
}

.contact__container {
    display: flex;
    width: 80%;
    margin: auto;
}

.contact__left {
    margin-right: 50px;
}

.contact__right {
    padding-top: 50px;
}

.contact__right h2 {
    font-size: 50px;
    font-weight: 600;
}

.contact__right p {
    color: #707070;
    letter-spacing: 0.4px;
    font-size: 20px;
}

.contact__button button {
    background: #ff6e65;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: 600;
    transition: 0.3s;
}

.contact__button :hover {
    background: #0d369f;
}

/* FOOTER*/
footer {
    background-color: #060e1f;
    padding: 80px 0;
    position: relative;
}

.footer__top {
    display: flex;
    margin: 0 auto;
    max-width: 1300px;
    background-color: white;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
    padding: 50px;
    border-radius: 10px;
    align-items: center;
    position: absolute;
    top: -130px;
    right: 200px;
}

.footer__text {
    width: 50%;
}

.footer__text h1 {
    font-size: 45px;
    color: #060606;
    font-weight: 600;
}

.footer__text p {
    font-size: 20px;
    color: #707070;
    letter-spacing: 1px;
}

.footer__form {
    width: 50%;
}

.footer__form form {
    display: flex;
    border-radius: 0.5rem;
}

.footer__form input {
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 8px 0 0 8px;
    font-size: 25px;
    color: #888;
    flex: 1 1 auto;
    outline: none;
    transition: all .5s;
}

.footer__form button {
    background-color: #0d369f;
    color: #eee;
    border-radius: 0 8px 8px 0;
    border: 1px solid #eee;
    padding: 16px 30px;
    font-size: 20px;
    font-weight: 600;
}

.footer__bottom {
    display: flex;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.footer__item {
    width: 25%;
}

.footer__bottom {
    padding: 200px 0 0;
}

.footer__item h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 24px;
}

.footer__item ul {
    list-style: none;
}

.footer__item a {
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    font-size: 19px;
    color: #cecece;
}

.footer__item i {
    font-size: 15px;
    color: white;
}

.footer__item span {
    color: #cecece;
    font-size: 18px;
    transition: 0.5s;
}
.footer__item strong{
    font-size: 18px;
    color: #cecece;
    font-weight: 300;
}
.footer__item .content{
    color: #cecece;
}
.footer__item span:hover{
    color: white;
} 
.footer__item p {
    font-size: 18px;
    color: #cecece;
    line-height: 30px;
}

.footer__social ul {
    display: flex;
}
.footer__social a:hover{
    opacity: 0.8;
    transition: 0.3s ease;
}
.footer__social a {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    line-height: 35px;
}

.copyright__footer {
    background-color: #040a17;
    padding: 20px 0;
    position: absolute;
    bottom: -80px;
    width: 100%;
    align-items: center;
}

.copyrights {
    font-size: 18px;
    color: #a0a0a0;
}

.copyrights a {
    color: white;
}

/* BACK TO TOP */
.backtotop {
    position: fixed;
    bottom: 100px;
    right: 15px;
    visibility: hidden;
    opacity: 0;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}

.backtotop i {
    color: white;
    font-size: 16px;
    background: #0d369f;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
}